<div class="compose-container">
	<form class="compose-form" method="post">
		<input class="form-control" type="text" name="title" value="{{title}}" placeholder="Post title">
		<textarea class="form-control" name="body" value="{{body}}" placeholder="Write something endearing...">{{body}}</textarea>
		<input class="form-control" type="text" name="tags" value="{{tags}}" placeholder="Comma-separated list of tags?">
		<input class="btn btn-default" type="submit" value="Let those words be heard!">
	</form>
	{{#editing}}
		<form class="compose-form" method="post">
			<input type="hidden" name="delete" value="1">
			<input class="btn btn-danger" type="submit" value="Delete this post." confirmation="Are you sure? Click again to confirm.">
		</form>
	{{/editing}}
</div>

