<div class="create-account-container">
	<form class="create-account-form" method="post">
		<input class="form-control" type="text" name="name" placeholder="Name">
		<input class="form-control" type="text" name="email" placeholder="Email">
		<input class="form-control" type="password" name="password" placeholder="Password">
		<input class="form-control" type="password" name="repeated-password" placeholder="Repeat password">
		<input class="btn btn-default" type="submit" value="Create account">
	</form>
</div>
