<div class="posts-container">
	<div class="search-message">
		<div class="padder">
			Looking for something?
			<a href="/post/search">
				Try searching
			</a>
			or
			<a href="/">
				browsing all posts.
			</a>
		</div>
	</div>
	{{#post}}
		{{> post root=..}}
	{{/post}}
</div>
