<div class="post-search-container">
	<form class="post-search-form" method="post" action="/post/search">
		<input class="form-control" name="title" value="{{title}}" placeholder="Title search terms.">
		<input class="form-control" name="tags" value="{{tags}}" placeholder="Comma-separated search tags.">
		<input class="btn btn-default" type="submit" value="Search">
	</form>
	{{#if posts}}
		<div class="found-post-count">
			<div class="padder">
				Found {{posts.length}} posts matching the above criteria:
			</div>
		</div>
	{{/if}}
	{{#posts}}
		{{> post root=..}}
	{{/posts}}
</div>

